.example-spacer {
    flex: 1 1 auto;
  }
  

.mat-toolbar.mat-primary {
    background: linear-gradient(135deg, #1c97e9, #a71bdf);
  }

  .edit{
    margin-left: 16px;
    display: inline-block;
}
.iicon:hover{
    cursor: pointer;
    transform: scale(0.90);
}
.cur{
  margin-left: 16px;
  display: inline-block;
}
.cur:hover{
  cursor: pointer;
  transform: scale(0.90);
}
  