   <div class="wrapper">
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>
                <form (ngSubmit)="formSubmit()">
                    <div class="input-field">
                        <input type="text" 
                        [(ngModel)]="login.username"
                        name="username"
                        placeholder="Enter your username">
                        <i class="uil uil-envelope icon"></i> 
                    </div>
                    <small *ngIf="userNameBlankFlag" style="color: red">Enter your Username</small>
                    <small *ngIf="userNameSizeFlag" style="color: red">Username must be at least 3 characters</small>
                    <div class="input-field">
                        <input type="password" 
                        [(ngModel)]="login.password"
                        name="password"
                        class="password" placeholder="Enter your password">
                        <i class="uil uil-lock icon"></i>
                        <!-- <i class="uil uil-eye-slash showHidePw"></i> -->
                    </div>
                    <small *ngIf="passwordBlankFlag" style="color: red">Enter your password</small>
                    <small *ngIf="passwordSizeFlag" style="color: red">Password must be at least 6 characters</small>
                    <!-- <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        
                        <a href="#" class="text">Forgot password?</a>
                    </div> -->

                    <div class="input-field button">
                        <input (click)="validate()" type="submit" value="Login Now">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">New to Flight Booking?
                        <span class="signupwe" routerLink="/register">Create an account</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
  </div>
